<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/assets/css/index.css" />
		<link
			rel="shortcut icon"
			href="/assets/img/favicon.svg"
			type="image/x-icon"
		/>
		<title>Article Ranker</title>
	</head>
	<body>
		<header>
			<!-- <h1 id="article-title"></h1> -->
		</header>
		<main>
			<!-- <h2 id="article-heading" >Dolor sit amet</h2>
      <div id="body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam provident dolore voluptatum beatae aspernatur obcaecati enim voluptatibus. Deserunt veniam sequi alias obcaecati ullam eius autem repudiandae minima ab sit ratione incidunt, itaque sapiente consequuntur minus. Placeat quos praesentium ipsam ratione labore ad deserunt, odit neque ea modi? Nulla natus necessitatibus inventore provident esse incidunt doloremque fugiat id molestias quaerat repellat aspernatur consequuntur, beatae modi quae rerum, quisquam dolor ut, fugit quis perferendis? Distinctio necessitatibus aliquam non minus nihil fugit aliquid aut expedita sunt esse. Maxime obcaecati sapiente tenetur? Quo error vitae praesentium itaque sint cumque dolorum ipsum cum fugiat blanditiis.</p>
        
			</div>  -->
		</main>
		<section id="articles-read">
			<h3>Articles Read</h3>
			<ul id="articles-read-list">
				<!--
        <li class="article-read-link"><a href="" >Aricle 1</a></li>
        <li class="article-read-link"><a href="" >Aricle 2</a></li>
        <li class="article-read-link"><a href="" >Aricle 3</a></li>-->
			</ul>
		</section>

		<script src="/assets/js/index.js"></script>
	</body>
</html>
