@import url('https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap');

:root {
	/* Fonts */
	font-family: 'Poppins', sans-serif;

	/* Colors */
	--primary-color: rgb(255, 255, 255);
	--secondary-color: rgb(201, 201, 201);
	--text-color: rgb(51, 51, 51);

	/* Spacing */
	--pad-sml: 0.5rem;
	--pad-lrg: 1.25rem;
}

body {
	margin: 0;
	width: 40%;
	margin: 0 auto;
}

main {
	text-align: justify;
	margin-top: 2rem;
	color: var(--text-color);
	padding: 1rem 0 2rem;
}

main > #article-title {
	text-align: left;
	font-size: 3rem;
	justify-self: start;
	padding-bottom: 2rem;
	border-bottom: 1px solid var(--secondary-color);
}

#body {
	display: grid;
	place-items: center center;
}

#next-article-btn, #rank-articles-btn {
	background-color: var(--text-color);
	text-decoration: none;
	color: var(--primary-color);
	padding: 0.6rem 0.6rem 0.65rem;
	margin: 2rem 0 4rem;
	width: 100%;
	border: none;
	font-size: 16px;
	font-weight: 300;
	border-radius: 0.25rem;
}

#articles-read {
	color: var(--secondary-color);
}

#articles-read-list {
	list-style-type: none;
	padding: 0;
}

.article-read-link {
	background-color: rgba(143, 143, 143, 0.1);
	padding: 0.25rem 0.45rem 0.2rem;
	margin: 0.5rem 0;
	border-radius: 0.25rem;
}

.article-read-link > a {
	text-decoration: none;
	color: rgb(147, 147, 147);
}

.article-read-link:hover {
	background-color: var(--text-color);
	color: var(--primary-color);
}

img {
	display: block;
	width: 100%;
	height: auto;
	margin: 3rem auto;
	border-radius: 0.25rem;
	box-shadow: 0px 0px 30px rgba(143, 143, 143, 0.5);
}

@media (max-width: 680px) {
	body {
		width: 90%;
	}

	main {
		margin-top: 0;
	}

	main > #article-title {
		font-size: 2.5rem;
		margin-top: 0;
	}

	img {
		width: 100%;
	}
} 